#moviesTable tr:hover 
{
    cursor: pointer;
}

body
{
  background-color: #343a40;
  color: #fff;
}


.navbar 
{
    width: 100%;
    background-color: #343a40;
}

#searchForm .btn-success 
{
    margin-left: 10px;
    margin-right: 10px;
}

#searchForm .btn-danger
{
    margin-left: 10px;
    margin-right: 10px;
}
